/* Do Not remove this file ! This is color picker config file! */

/* Example config classes: */
#s1 {color:%header-background-color%; }
.s2 a  {background-color:%header-background-color%;}
div .s3 {color:%text-content-color%;}
