
/* Default styles */
@import "reset.css";

body {
	background:#fff;
}
#logo-floater {float: left; }
#logo-floater a{display: block; overflow: hidden;}
#logo-floater .site-title {
    display:block;
    float:right;
  }
#header { }
#nav {overflow: hidden; float: right;}
#nav ul {overflow: hidden;}
#nav ul li {display: block; float: left; list-style: none;}
#rss-wrapper {float: right; }
.region-header {}
#columns { overflow: hidden;}
#footer { }
.sidebar .region, #main #center {margin:0;padding:0 ;}
#main #center  .region{ border: none;}
ul.menu li{list-style: none;}
#footer .region {margin:0; padding:0;}

/*#main {margin-bottom: 30px; margin-top: 10px; border: 2px solid #999; padding: 10px;}*/