/* Do Not remove this file ! This is color picker config file! */
#header {background-color:%header-background-color%; color:%text-header-color%;}
#header h1, #header h2, #header h3, #header h4, #header p {color:%text-header-color%;}
#footer {background-color:%footer-background-color%; color:%text-footer-color%;}
#footer h1, #footer h2, #footer h3, #footer h4, #footer p {color:%text-footer-color%;}
#columns {background-color:%content-background-color%; color:%text-content-color%;}
#columns h1, #columns h2, #columns h3, #columns h4, #columns p {color:%text-content-color%;}
body {background-color:%body-background-color%; }
