body {font: 12px/1.5em Tahoma,Arial,'Helvetica Neue','Liberation Sans',FreeSans,sans-serif; color: #333;}

#header {min-height: 60px; padding: 20px 0; }

#site-name strong, #site-name h1 {font-size: 2.5em; margin: 1em 0;}

#footer {padding: 20px 0;  min-height: 50px; }

#columns {min-height: 300px;}
#main #center .region{ border: none;}
ul.menu li{list-style: none;}
a {color:#8AB429;}
ul.menu li,.item-list ul li { margin:0; padding: 0; }

#main-menu a:hover {text-decoration: underline;}