#edit-background-color, #edit-border-color, #edit-link-color, #edit-text-color, #edit-h-color {width: 50px}
#edit-general textarea,#edit-general .grippie {width: 500px;}
#edit-general .grippie {width: 498px;}
#edit-col1wrapper, #edit-col2wrapper{padding-bottom: 20px;}
#edit-col1wrapper .form-item, #edit-col2wrapper .form-item{float: left; display: block; height: 30px;  margin-right: 20px; }
#edit-col1wrapper .form-item label, #edit-col2wrapper .form-item label{ float: left; margin-right: 10px;}
#edit-col1wrapper .form-item.form-type-checkbox, #edit-col2wrapper .form-item.form-type-checkbox  {clear: both; height: 20px;  margin-bottom: 0; width: 100%;}
#edit-col1wrapper .form-item.form-type-checkbox label, #edit-col2wrapper .form-item.form-type-checkbox  label{clear: both; text-align: left; float: none; height: 20px;  margin-bottom: 0; width: 100%;}
#edit-colors-settings .form-type-textfield input{ width:50px; text-transform: lowercase;}